body {
    background-color: grey;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.clock-container {
    width: 600px;
    height: 375px;
    border: 5px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 150px;
    padding-right: 50px;
    background-color: black;
}

#date {
    margin: 0px;
    font-family: monospace;
    font-weight: bold;
}

.am-pm {
    width: 35%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 36px;
    margin-left: 10px;
}

#clock {
    font-family: 'Cursed Timer ULiL', sans-serif;
    color: rgb(56, 56, 236);
}

button {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: rgb(56, 56, 236);
    color: white;
    font-size: 18px;
    font-weight: bold;
}